body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
}

img {
  padding: 0 32px 0 70px;
}

ul li {
  display: flex;
  font-size: 22px;
  line-height: 40px;
  gap: 32px;
}

ul li a {
  color: #c4c4cc;
}

ul li a:hover {
  font-weight: bold;
  color: #e1e1e6;
  transition: 0.3s ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 113px 100px;
}

h1 {
  color: #e1e1e6;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 16px;
}

p {
  color: #d9d9da;
  font-weight: 400;
  font-size: 18px;
  max-width: 648px;
}